/*-----------------------------------------SHRIFTI-----------------------------------------*/
@font-face {
    font-family: Monstserrat-Bold ;
    src: url('./fonts/Monstserrat/Montserrat-Bold.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Monstserrat-Regular ;
    src: url('./fonts/Monstserrat/Montserrat-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Ubuntu-Regular ;
    src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Ubuntu-Regular ;
    src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*-----------------------------------------BODY-----------------------------------------*/
body {
    font-family: Ubuntu-Regular, sans-serif;
}
/*-----------------------------------------HEADER-----------------------------------------*/
.header {
    background: #525b64;
    height: 850px;
}
.row-header{
    height: 500px;
}
img{
    width: 100%;
}
.header-direction{
    height: 500px;
}
.block1{
    height: auto;
}
.block2{
    height: 90px;
}
.block3{
    height: 54px;
}
h2 {
    font-family: Monstserrat-Bold, sans-serif;
}

h1 {
    font-family: Monstserrat-Regular, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

p {
    font-family: Ubuntu-Regular, sans-serif;
}



.register-btn, .discover-btn {
    font-size: 17px;
    padding: 14px 27px;
    border-radius: 5px;
    display: inline-block;
}

.register-btn {
    background: #7ea4e8;
}

.discover-btn {
    background: #6a7079;
}
/*-----------------------------------------MAIN-----------------------------------------*/
main {
    color: #828689;
}
/*-----------------------------------------MAIN GOALS OF THE EVENT-----------------------------------------*/
.main_goals > h1 {
    font-size: 30px;
}

.header-content-name{
    min-height: 70px;
}

.block-content-name{
    height: 510px;
 }
.w-100{
    height: 1px;
}
.learning_objective {
    border: 3px solid #ececec;
    border-radius: 2px;
    background: #ececec;
    padding: 0;
    overflow: auto;
    height: 310px;
}
.footer-content-name{
    min-height: 65px;
}
.footer-button-content-name{
    min-height: 54px;
}
.nav-link{
    color: #abb1ba;
    font-weight: bold;
}
.nav-link:hover{
    color: #9097a1;
}
.learning_objective .nav_m h1 {
    font-size: 18px;
}

.nav_m h1 {
    display: inline-block;
    padding: 20px 36px;
    margin-bottom: 0;
    width: 49%;
}

.nav_m h1 > a {
    color: #828689;
    list-style-type: none;
    text-decoration: none;
}

.nav_m h1:first-of-type {
    background: white;
}

.content_m {
    background: white;
}

ul {
    list-style-type: none;
}

.align-items-md-center figure {
    margin: 0;
    height: auto;
}

.align-items-md-center figure > img {
    height: auto;
    width: 100%;
}

.align-items-md-center > div p, .header-name {
    margin: 0;
    font-size: 20px;
}

.fa-chevron-circle-right {
    color: white;
}

a:hover {
    text-decoration: none;
}

.fa-check-circle {
    color: #2cc7c1;
    font-size: 14px;
    margin-right: 14px;
}

.content_m {
    padding: 36px 20px 20px 20px;
}

.content_m figure img {
    width: 100%;
}

.content_m ul , .content_m figure{
    margin: 0;

}



/*-----------------------------------------EVENT SPEAKERS-----------------------------------------*/
.second p {
    font-size: 22px;
}
/*-----------------------------------------CIRCLES-----------------------------------------*/
.circle-figure {
    height: 142px;
    width: 142px;
    border-radius: 50%;
    display: inline-block;
    background: #cdd0d2;
}

.aqua {
    color: #6bd8d3;
}

.aqua-back {
    background: #6bd8d3;
}

.fa-twitter {
    color: white;
    line-height: 142px;
    font-size: 36px;
}



.third {
    margin-bottom: 55px;
}
/*-----------------------------------------REGISTER-----------------------------------------*/
.forth p {
    margin: 0;
}



.line {
    height: 8px;

    background: #f0f0f1;
}
/*-----------------------------------------EVENT SCHEDULE, PROMOTIONAL VIDEO, EVENT GALLERY-----------------------------------------*/
.aqua-link {
    color: #6bd8d3;
    font-weight: bold;
}

.nav-n > h1 {
    width: initial;
}

.aqua-back-span {
    background: #6bd8d3;
    color: white;
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
    margin-right: 25px;
}

.inline {
    display: inline-block;
    margin: 0;
    color: #747a84;
    font-weight: bold;
}

.nemo, .quis, .neque {
    position: relative;
}

.fa-minus-circle, .fa-plus-circle {
    position: absolute;
    right: 20px;
    top: 28px;
}
.r{

}
.r img {
    width: 100%;
}

.fa-minus-circle, .fa-plus-circle {
    font-size: 19px;
    color: #6bd8d3;
}

.text-bold {
    font-weight: bold;
}




.figure_video {
    background: #65d2ce;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    top: 50%;
}

.block-video {
    background: #ececec;
    border-radius: 10px;
    position: relative;
}

.figure_video::after {
    content: '';
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #ececec;
    border-radius: 47px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -15px;
}

.figure_slide, .figure_slide_two, .figure_slide_three, .figure_slide_for, .figure_slide_five {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    bottom: 18px;
    left: 18px;
    position: absolute;
    border: 3px solid #6bd8d3;
}

.figure_slide_one {
    left: 18px;
}

.figure_slide_two {
    left: 38px;
    background: #6bd8d3;
}

.figure_slide_three {
    left: 58px;
}

.figure_slide_for {
    left: 78px;
}

.figure_slide_five {
    left: 98px;
}


/*-----------------------------------------THE MOST SIMPLE WAY TO LAUNCH YOUR EVENT-----------------------------------------*/
.background {
    background: #f3f3f3;
    min-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background .container{
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.background-col{
    min-height: 300px;
}
.background p {
    margin: 0;
}

.row-form,row-group{
    height: 100%;
}

.nine {
    background: white;
    height: 150px;
    align-items: center;
}

.nine input, .nine select {
    height: 54px;
}

.nine form, .nine div {
    padding: 0;
}

.form-group {
    margin: 0;
}
.row-group{
    height: 300px;
}

.form-group .form-control {
    background: #efefef;
    color: #d9d9d9;
}

.custom-select {
    background: #2cc7c1;
    color: white;
}

.custom-select > option:nth-of-type(2), .custom-select > option:nth-of-type(3), .custom-select > option:nth-of-type(4) {
    background: #525b64;
    color: #2cc7c1;
}
/*-----------------------------------------SPONSOR-----------------------------------------*/
.ten {
    padding: 55px 0;
}
.ten img{
    width: 100%;
}
.figure-sponsor{
     margin: 0;
 }
.figure-sponsor:last-of-type{
    margin-right: 0;
}

/*-----------------------------------------MAP-----------------------------------------*/
.eleven figure{
    margin-bottom: 0;

}
.eleven figure > iframe {
    width: 100%;
    height: 670px;
}

.custom-select > option:nth-of-type(4) {
    color: white;
}


.fa-phone-square,.fa-envelope,.fa-skype{
    margin-right: 10px;
    font-size: 18px;
}
/*-----------------------------------------FOOTER-----------------------------------------*/
footer{
    background: #525b64;
    min-height: 500px;
}

footer h3, footer h4{
    color: white;
    margin-bottom: 34px;
}
footer h3{
    font-size: 25px;
}
footer h4{
    font-size: 20px;
}
footer p{
    color: #cdd0d2;
}
footer li, footer a{
    color: #2cc7c1;
    margin-bottom: 6px;
}
footer ul{
    padding: 0;
}
.facebook{
     background: #4d66a6;
     border: 1px solid #172a66;
     color: white;
     border-radius: 3px;
 }
.sixtyk{
    border-radius: 3px;
    background: white;
    border: 1px solid gray;
    color: gray;
}
.follow{
    border-radius: 3px;
    background: white;
    border: 1px solid gray;
    color: black;
}
.follow .fa-twitter{
    color: #00acee;
    font-size: 18px;
}
.eight{
    min-height: 110px;
    flex-direction: column;
}
/*-----------------------------------------copyright-----------------------------------------*/
.copyright{
    background: #3f464c;
    color:#8b8d8f ;
    padding: 15px 0;
}
.copyright p{
    margin-bottom: 0;
}



/*----------------------------------------------------------------------------------*/
.background-slide{
    background: white;
}
.nine{
    border-radius: 20px;
}
.target_audi_a,.learning_obj-a{
    width: 100%;
}
.target_audi_li,.learning_obj_li{
    width: 50%;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
    border-color:gray;
    background-image: none;
}
.second{
    min-height: 1000px;
}
.btn-link.focus, .btn-link:focus{
    text-decoration: none;
}
.btn-link:hover{
    color: transparent;
    text-decoration: none;
}
.btn.focus, .btn:focus{
    box-shadow:none;
}
main .container{

    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
main .container:first-of-type{
    min-height: 1500px;
}
main .container:last-of-type{
    min-height: 1200px;
}
main{
    min-height: 3600px;
    flex-direction: column;
    justify-content: space-around;
}

.first{
    min-height: 280px;
}
.second{
    min-height: 1100px;
}
.fivth{
    min-height: 310px;
}
.sixth, .seventh{
    min-height: 310px;
}
@media only screen and (max-width: 1200px) {
    .learning_objective > article .nav_m h1 {
        font-size: 14px;
    }
    .content_m {
        padding: 36px 20px 20px 20px;
    }
    .content_m ul{

    }
    .content-check{
        padding-right: 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 992px) {
    .learning_objective > article .nav_m h1 {
        font-size: 18px;
    }
    .content_m {
        padding: 36px 20px 20px 20px;
    }
    .block-video {
        height: 250px;
    }
    .nine{
        height: 450px;
    }

    .fivth .main_goals, .first .main_goals, .sixth .block-video, .seventh .main_goals {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .learning_objective > article .nav_m h1 {
        font-size: 16px;
    }
    .nine{
        height: 450px;
    }
    .main_goals {
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 576px) {

    .learning_objective .nav_m h1 {
        font-size: 12px;
    }
    .nine{
        height: 450px;
    }
    *{
        font-size: 12px;
    }
}